/* CSS Reset */

* {
    margin: 0;
    padding: 0;
   box-sizing:border-box;
  }

/* left content */

.left-content{
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

.img-postion{
max-height: 100%;
}
.logo-position{
position: absolute;
height: 18rem;
}

.logo{
  height: 100%;
}


/* left content */
.right-content{
background-color: black;
flex:1 1 56rem;
}

  /* Utilities */

.container{
    display: flex;
  height: 110vh;
}

/* Media queries */

@media screen and (max-width: 700px) {
  .container {
    display: none;
  }
}