/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  /* The right side */

 

  .right-background{
    background-image: url(/Frontend/LogIn-page/Images/TwitterBackground.png);
    width: 55%;
  }

  .twitter-bird{
    color: white;
   

  }

  
  /* Utilities */
  .container{

    display: flex;
  }


  /* Media queries */