/* CSS Reset */

* {
    margin: 0;
    padding: 0;
   box-sizing:border-box;
  }

/* right content */

.right-content{
 display: flex;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

.logo-position{
position: absolute;
height: 20rem;
}

.logo{
  height: 100%;
}
/* left content */
.left-content{
background-color: black;
flex:1 1 60rem;
}

  /* Utilities */

.container{
    display: flex;
    
}

